
<div>

    <footer class="bg-dark text-white text-center fixed-bottom">
    <div class="  pb-0">
    <div class="text-center p-3" >
     &copy <a class="text-white copy" href="https://chaturvediishika.github.io/PORTFOLIO/">Ishika Chaturvedi</a>

    </div>
    </div>
</footer> 
</div>
